.Article-card
{
    height: auto;
}
.Article-card .card-container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.Article-card .card-container .content
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 40%;
}
.Article-card .card-container .content h2
{
    letter-spacing: 2px;
    color: black;
}

.Article-card .card-container .content p
{
    color: gray;
    /* transform: scaleY(0); */
    transition: .5s;
}
/* .Article-card .card-container .content:hover p
{
    transform: scaleY(1);
} */
.Article-card .card-container .content span
{
    color: black;
    font-weight: 600;
}
.Article-card .card-container img
{
    height: 200px;
    width: 320px;
}
@media only screen and (max-width: 800px) {
    .Article-card .card-container
    {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .Article-card .card-container img
    {
        margin-left: 5%;
        height: auto;
        width: 40%;
    }
    .Article-card .card-container .content
    {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        width: 50%;
        margin-left: 5%;
    }
    .Article-card .card-container .content h2
    {
        font-size: 15px;
        letter-spacing: 0px;
    }
    .Article-card .card-container .content p
    {
        font-size: 13px;
    }
}