.LatestStories_card
{
    width: 300px;
    position: relative;
    background-color: white;
    margin: 20px 0px;
}
.LatestStories_card:nth-child(even)
{
    border-left: 2px solid rgba(128, 128, 128, 0.384);
    border-right: 2px solid rgba(128, 128, 128, 0.308);
    padding-left: 80px;
    padding-right: 80px;
}
.LatestStories_card h3
{
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}
.LatestStories_card p
{
    color: gray;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}
.LatestStories_card span
{
    color: black;
}
@media only screen and (max-width: 600px) {
    .LatestStories_card:nth-child(even)
    {
        border: none;
        padding: 0;
    }
}