.top-heading
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-left: 8%;
}
.top-heading .underline
{
    width: 20%;
    height: 2px;
    background-color: orangered;
    margin-bottom: 10px;
}
.top-heading h1
{
    margin-bottom: 5px;
}
.flex-cont-1
{
    display: flex;
    justify-content: space-around;
}
a
{
    text-decoration: none;
    color: black;
}
a:visited
{
    text-decoration: none;
    color: black;
}
a:active
{
    text-decoration: none;
    color: black;
}
.flex-cont-1 .number
{
    font-size: 70px;
    margin-top: 20px;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.479);
    opacity: 0.7;
}
.flex-cont-1 span
{
    color: black;
    font-weight: 600;
}
.flex-cont
{
    display: grid;
    grid-template-columns: auto auto auto;
    height: auto;
    margin-top: 20px;
}
.flex-cont h2
{
    color: black;
    width: 80%;
}
.flex-cont .number
{
    font-size: 70px;
    margin-top: 20px;
    font-weight: 700;
    color: rgba(128, 128, 128, 0.479);
    opacity: 0.7;
}
.toppost-body .flex-cont div p 
{
    color: gray;
}
.flex-cont div p span
{
    color: black;
    font-weight: 600;
}
.flex-cont .sub-image
{
    width: 50px;
    height: 100px;
}
.flex-cont div
{
    margin-left: 20px;
}
@media screen and (max-width : 800px) {
    .flex-cont .number
    {
        display: none;
    }
    .toppost-body
    {
        margin-right: 20px;
    }
    .top-heading h1
    {
        padding-top: 30px;
    }
}
@media screen and (min-width : 600px) and (max-width : 800px) {
    .flex-cont .sub-image
    {
        width: 150px;
        height: 200px;
    }
}
